@use '../../sass/' as *;

.tab-content{
    &__header{
        @include flex(center,space-between);
        & > h1{
            font-weight: 700;
            text-transform: capitalize;
        }
        & > span{
            color: rgba($color: $black, $alpha: 0.5);
            font-size: 1.5rem;
            text-transform: capitalize;
        }
    }
    &__body{
        display: grid;
        grid-template-columns: repeat(2 , minmax(0,1fr));
        gap: 2rem;
        justify-content: center;
        padding-top: 2rem;
        @include desktopLg{
            grid-template-columns: repeat(1 , minmax(0,1fr));
        }
    }
}