@use '../../sass/' as *;

.item-order{
    @include flex(center,space-between);
    &__info{
        @include flex(center,null);

        & > img{
            width: 8rem;
            height: 8rem;
            border-radius: 1rem;
        }
        &__about{
            margin-left: 2rem;
            & > h2{
                color: $black;
            }
            &__note{
                margin-top: 2rem;
                @include flex(center,null);
                & > h2 {
                    margin-right:3rem;
                }
                & > div{
                    color: $main-color;
                    background-color: rgba($color: $main-color, $alpha: 0.4);
                    border-radius: 0.6rem;
                    padding: 0.4rem 1rem;
                    @include flex(center,center);
                    & > span{
                        font-weight: 700;
                    }
                    & > * ~*{
                        margin-left: 1rem;
                    }
                    cursor: pointer;
                }
            }
        }
    }
}