@use "../../sass/" as *;

.setting {
  @include flex(center, space-between);
  &__content {
    padding: 2rem 3rem;
    height: 100%;
    &__header {
      @include flex(center, space-between);
      & > button {
        width: 10rem;
      }
      margin-bottom: 3rem;
      @include desktop{
        overflow-x: auto;
        & > button{
          width: 6rem;
        }
      }
    }
    &__list-dishes{
        overflow: auto;
        height: 80%;
        overflow-y: overlay;
        display: grid;
        grid-template-columns: repeat(3 , minmax(0 , 1fr));
        gap: 2rem;
        @include desktop{
          grid-template-columns: repeat(2 , minmax(0 , 1fr));
        }
        @include tablet{
          grid-template-columns: repeat(1 , minmax(0 , 1fr));
        }
    }
  }
}
.modal__form{
  width: 50%;
}
