@use '../../sass/' as *;

.bill{
    position: fixed;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
    width: 25%;
    height: 95%;
    background-color: $white;
    border-radius: 2rem;
    padding: 2rem;
    @include flex(null,space-between);
    flex-direction: column;
    &__info{
        & > * ~ * {
            margin-top: 1rem;
        }
        &__header{
            & > h3{
                color: $gray;
                font-weight: 600;
            }
            & > h1{
                font-weight: 700;
            }
            margin-bottom: 1rem;
        }
        &__list-choose{
            height: 20rem;
            overflow: auto;
            & >  * ~ * {
                margin-top: 1rem;
            }
            & > .emptyOrder{
                pointer-events: none;
                height: 100%;
                flex-direction: column;
                @include flex(center,center);
                color: rgba($color: $black, $alpha: 0.2);
                font-size: 3.5rem;
                & > span{
                    margin-bottom: 5rem;
                    font-weight: 700
                }
            }
        }
        &__row{
            @include flex(center,space-between);
            &.tax{
                color: rgba($color: $black, $alpha: 0.4);
            }
            &.total{
              font-size: 1.5rem;
              font-weight: 700;
            }
        }
        & > .divider{
            border-top: 1px dashed rgba($color: $black, $alpha: 0.5);
        }
    }
    &__payment{
        flex-direction: column;
        & > h1{
            font-size: 3rem
        }
        @include flex(center,null);
        & > * ~ * {
            margin-top: 2rem;
        }
        &__options{
            @include flex(center,space-between);
            & > * ~ *{
                margin-left: 1rem;
            }
            & > button{
                width: 10rem;
            }
        }
        &__printbill{
            width: 100%;
        }
    }
}