@use '../../sass/' as *;

.menu{
    max-width: 62.5vw;
    & > * ~ * {
        margin-top: 2.5rem;
    }
    & > *:last-child{
        margin-top: 0
    }
   
    &__tabs{
        @include flex( center,space-between);
        & > button{
            width: 8rem;
        }
        @include desktop{
            overflow-x: auto;
            & > button{
                width: 6rem;
                margin-right: 2rem;
            }
        }
    }
}